<link href="~/css/Products.css" rel="stylesheet" />

@model Product


            <img src="@Model.ImageThumbnailUrl" class="games-Img"  alt="@Model.Name" width="253" height="327" >
            <div>
                
                <h4 class="price">
                    @Model.Price.ToString("c")
                </h4>

            </div>

